* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.main {
    width: 70%;
    margin: 0px auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 30px;
}

.demo {
    background-color: black;
    min-height: 100px;
}

.content1 {
    color: pink;
    border-radius: 5px;
    background-color: antiquewhite;
    border: 1px #090 solid;
    width: 100%;
    font-size: 1vw;
    
}

.content1 h1 {
    margin: 10px 20px;
    font-size: 1.5vw;
}

.content2 {
    background-color:rgb(57, 54, 54);
    border: 1px solid;
}

.content2 ul {
    list-style-type: none;
}

.content2 ul li {
    display: inline;
}

.content2 ul li a {
    text-decoration: none;
    color: #ccc;
    margin-right: 30px;
    font-size: 0.9vw;
}

.content2 ul li:hover a {
    color: white;
    font-size: 1vw;
}

.mr {
    margin-right: 2%;
}
.mr40{
    margin-right: 50px;
}

.boxtrai {
    float: left;
    width: 74%;

}

.boxphai {
    float: left;
    width: 24%;
}

.content4 {
    background-color: aqua;
    border: 1px red solid;
    border-radius: 5px;
}

.content4 p {
    color: pink;
    padding: 10px;
    font-size: 0.8vw;
}

.boxtitle {
    background-color: #EEE;
    color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}

.boxcontent {
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    min-height: 200px;
    padding: 20px;
}

.boxfooter {
    background-color: #EEE;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}
.boxfooter input{
    width: 100%;
    padding: 7px;
    border: 1px #CCC solid;
    border-radius: 1px solid;
    color: gray;
    font-size: 0.8vw;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.banner img {
    height: 300px;
}

.sp {
    float: left;
    width: 31%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sp img {
    height: 210px;
    text-align: center;
    width: 100%;
    float: left;
}

.sp p {
    font-size: 1vw;
    color: black;
    padding-left: 10px;
}

.sp a {
    text-decoration: none;
    padding-left: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.formtk {
    line-height: 150%;
}

.formtk input[type="password"],
.formtk input[type="email"],
.formcontent input[type="text"],
.formtk input[type="text"] {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtk input[type="checkbox"] {
    border-radius: 5px;

}

.formtk input[type="submit"], 
.formtk input[type="reset"], 
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
    background-color: white;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formcontent input[type="submit"]:hover,
.formtk input[type="reset"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover,
.formtk input[type="submit"]:hover {
    background-color: #CCC;
}

.formtk li a {
    color: red;
    text-decoration: none;
}

.formtk li a:hover {
    color: blue;
    text-decoration: underline;
}
.boxsot ul{
     margin: 0px;
     padding: 0px;
     list-style-type: none;
}
.boxsot ul li{
    border:1px #CCC solid;
    padding: 10px 20px;
    background-color:white ;
}
.boxsot ul li a{
    color: #666;
    text-decoration: none;
}
.boxsot ul li:hover{
background-color: #EEE;
}
.top10 img{
    width: 30%;
    float: left;
    height: 50px;
    margin-right: 10px;
    border: 1px #CCC solid;
    border-radius: 5px;
}
.top10 a{
    color: #666;
    text-decoration: none;
    font-size: 0.8vw;
}
.top10 a:hover{
    text-decoration: underline;
    color: blue;
}
.headertiltle {
    color:brown;
    border-radius: 5px;
    background-color:#EEE;
    border: 1px #090 solid;
    padding: 0px 20px;
}
.headertiltle h1{
    font-size: 0.7vw;
}
.formtable table{
    width: 100%;
    border-collapse:collapse ;
}
.formtable table th{
    padding: 20px;
    background-color: #CCC;
}
.formtable table td{
    padding: 10px 20px;
    border: 1px #666 solid;
}
/* slide show js */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.spct{
    text-align: center;
}
.spct img{
    width: 50%;
}
.thongbao{
    font-weight: bold;
    color: red;
}
.themgio{
    text-align: center;
}
.formtable1 table{
    width: 100%;
    border-collapse:collapse ;
}
.formtable1 table th{
    padding: 20px;
    background-color: #CCC;
}
.formtable1 table td{
    padding: 10px 20px;
    border: 1px #666 solid;
}

